<h1 class="text-center mt-4"> All Bloggers </h1>
<div class="container">
     <% @users.each do |user| %>
      <div class="row justify-content-md-center">
        <ul class="listing">
            <li><%= link_to gravatar_for(user), user_path(user) %></li>
            <li class="article-title">
            <%= link_to user.username, user_path(user) %>
            </li>
            <li><small><%= pluralize(user.articles.count, "article") if user.articles %> </small> </li>
            <% if logged_in? && current_user.admin? %>
            <li> <%= link_to "Delete this user", user_path(user), method: :delete, data: { confirm: "Are you sure you want to delete the user and their articles?" } %> </li>
            <% end %>
        </ul>
      </div> 
    <% end %>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item"> <%= will_paginate @users, class: "page-link font-weight-normal "%></li>
  </ul>
</nav>