<h1 class="text-center mt-4"> All Bloggers </h1>

<% @users.each do |user| %>
<div class="container mt-4">
        <div class="row justify-content-md-center">
          <div class="col-4 mt-2">
            <div class="card text-center shadow mb-5 bg-white rounded">
              <div class="card-body">
                <p><%= link_to gravatar_for(user), user_path(user) %></p>
                <p class="article-title"><%= link_to user.username, user_path(user) %></p>
                <p><small><%= pluralize(user.articles.count, "article") if user.articles %> </small> </p>
                <% if logged_in? && current_user.admin? %>
                  <p> <%= link_to "Delete this user", user_path(user), method: :delete, data: { confirm: "Are you sure you want to delete the user and their articles?" } %> </p>
                <% end %>
              </div> 
            </div>
          </div>
        </div>
    <% end %>
  </div>


<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item"> <%= will_paginate @users, class: "page-link font-weight-normal "%></li>
  </ul>
</nav>