<h1 class="text-center mt-4"> Welcome to <%= @user.username %>'s page </h1>
<div class="container">
    <div class="row justify-content-md-center">
    <%= gravatar_for @user, size: 150%>
    <%= render 'articles/article', obj: @user_articles %>
    <h4 class="text-center mt-4"><%= @user.username %>'s articles </h4>   
    </div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item"> <%= will_paginate @user_articles, class: "page-link font-weight-normal "%></li>
  </ul>
</nav>